@media print {
    @page {
        size: auto;
    }
    .page-break {
        display: block;
        page-break-before: auto;
    }
}
html {
    overflow-y: visible !important;
}
.Wrapper {
    height: 100%;
    width: 100%;
}